OPENAI_API_KEY=5bc8d5a2d70a468db216764316fb773esk-proj-cA2IdhVuLZJWqcH6A3Y6Si0JeSsCHdwu8xAtt8wmiWL0HxDDo_by9wbdE0Aotsu2K6eH83-JzlT3BlbkFJKawla8ys9tbVJoO0thqmXfpg2cgsiK9oYlWoIvjKn4LVo_DlBBZnxExfzturPHqoh76h-2Z2IA
PORT=3001
TRANSCRIPTION_MODEL=gpt-4o-mini-transcribe
